@page
@model DinosaurShoppen.Pages.Administration.Rabat_Promotion.CreatePromotionModel

@{
    ViewData["Title"] = "CreatePromotion";
}

<h1>CreatePromotion</h1>

<h4>Promotion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Promotion.PromotionName" class="control-label"></label>
                <input asp-for="Promotion.PromotionName" class="form-control" />
                <span asp-validation-for="Promotion.PromotionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.PromotionRabat" class="control-label"></label>
                <input asp-for="Promotion.PromotionRabat" class="form-control" />
                <span asp-validation-for="Promotion.PromotionRabat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tilføj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
