@page
@model DinosaurShoppen.Pages.Administration.Rabat_Promotion.CreateRabatModel

@{
    ViewData["Title"] = "CreateRabat";
}

<h1>CreateRabat</h1>

<h4>Rabat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rabat.RabatName" class="control-label"></label>
                <input asp-for="Rabat.RabatName" class="form-control" />
                <span asp-validation-for="Rabat.RabatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rabat.RabatProcent" class="control-label"></label>
                <input asp-for="Rabat.RabatProcent" class="form-control" />
                <span asp-validation-for="Rabat.RabatProcent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tilføj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Administration/Index">Tilbage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
