@page
@model DinosaurShoppen.Pages.Administration.Rabat_Promotion.EditRabatModel

@{
    ViewData["Title"] = "EditRabat";
}

<h1>EditRabat</h1>

<h4>Rabat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rabat.RabatId" />
            <div class="form-group">
                <label asp-for="Rabat.RabatName" class="control-label"></label>
                <input asp-for="Rabat.RabatName" class="form-control" />
                <span asp-validation-for="Rabat.RabatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rabat.RabatProcent" class="control-label"></label>
                <input asp-for="Rabat.RabatProcent" class="form-control" />
                <span asp-validation-for="Rabat.RabatProcent" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Rabat.SoftDelete" /> @Html.DisplayNameFor(model => model.Rabat.SoftDelete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Administration/Index">Tilbage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
