@page
@model DinosaurShoppen.Pages.CustomerPages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" type="email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="control-label"></label>
                <input asp-for="@Model.Password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Log ind" class="btn btn-primary" />
            </div>
            <a asp-page="./CreateCustomer" class="btn btn-primary" >Opret ny bruger</a>
        </form>
    </div>
</div>